# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf
/.editorconfig  export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/LICENSE  export-ignore
/README.md  export-ignore
/commit-msg-template.txt  export-ignore
/project.godot  export-ignore
/code/**  export-ignore
/examples/**  export-ignore
/logos/**  export-ignore
/media/**  export-ignore
*.gd.uid    export-ignore
/addons/tween_orchestrator/icon.png.import  export-ignore
/addons/tween_orchestrator/tween_orchestrator_manager.gd.uid export-ignore
/addons/tween_orchestrator/code/tween_binding.gd.uid  export-ignore
/addons/tween_orchestrator/code/tween_clip.gd.uid export-ignore
/addons/tween_orchestrator/code/tween_orchestrator.gd.uid export-ignore
/addons/tween_orchestrator/code/tween_track.gd.uid export-ignore